extends layout

block content
  h1= title
  form#enterdetails(name="enterdetails",method="post",action="/generateresponse")
    table.table
      tr
        td Template:   
        td
          select#templateDropdown.form-control(name="template")
            each val in templateOptions.templates
              option(value=val.name)= val.name
      tr
        td Customer Name:
        td
          input#customerName.form-control(type="text", placeholder="customerName", name="customerName")
      tr
        td From Date:
        td
          input#fromDate.form-control(type="date", placeholder="fromDate", name="fromDate")
       tr
        td To Date:
        td
          input#toDate.form-control(type="date", placeholder="toDate", name="toDate")
      tr
        td Cost:
        td
          input#cost.form-control(type="text", placeholder="cost", name="cost")
      tr
        td Responder:
        td
          input#responder.form-control(type="text", placeholder="responder", name="responder")
    div.pull-right
      button#btnSubmit(type="submit", class="btn btn-primary") Submit
